
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

header{
    position: sticky;
    position:-webkit-sticky;
    top:0;
    margin:auto;
    padding:4vh;
    background-color:antiquewhite;
    width:100%;
    display:flex;
    justify-content: space-between;

}

.nav-right{
  display:flex;
  justify-content: space-between;
}
.container{
 margin-top: 8.7vh;
}

.card{

}
.card-img{

}


a{
  text-decoration: none;

}

.list-inline{
  list-style: none;
  padding-left: 0px;
}
.list-inline > li {
  padding-bottom: 10%;
}



.logo{
  width: 65px;
  height: 83px;
}
.logo-user{
  width: 50px;
  height: 63px;
}

.logo-thumb{
  width: 50px;
  height: 63px;
}
